.page-enter-active {
  animation: page-in 0.4s;
}
.page-leave-active {
  animation: page-out 0.1s;
}

@keyframes page-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes page-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.15s;
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}
